.chooseCard {
	width: 25vw;
	margin: 1rem;
	border-radius: 2rem;
	cursor: pointer;
	box-shadow: 0 0 5px 1px rgba(119, 34, 223, 0.5);
}

.cardDiv {
	justify-content: space-evenly;
}

.chooseCard:hover {
	box-shadow: 0 0 10px 2px rgba(119, 34, 223, 0.5);
}

.chooseImg {
	display: block;
	width: 80%;
	margin: 1rem auto;
	max-width: 400px;
}

.chooseText {
	display: block;
	text-align: center;
	font-size: 2rem;
	padding-bottom: 1rem;
	font-family: Ubuntu;
}
